<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Captura-The camera store</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;display=swap"
        rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="/user_files/css/vendor/bootstrap.min.css">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="/user_files/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/user_files/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="/user_files/css/plugins/simple-line-icons.css">
    <link rel="stylesheet" href="/user_files/css/plugins/fancybox.min.css">
    <link rel="stylesheet" href="/user_files/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/user_files/css/plugins/range-slider.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/user_files/css/style.css">

</head>

<body>
    <div class="wrapper">
        <div class="header-area d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-auto">
                    </div>
                    <div class="col-auto d-lg-block ms-auto me-n3 pe-0">
                        <div class="header-navigation ps-6">
                            <ul class="main-nav">
                                <li class="main-nav-item"><a class="main-nav-link" href="/shop_by_category/1">Shop by
                                        category</a></li>
                                <li class="main-nav-item"><a target="_blank" class="main-nav-link" href="https://www.linkedin.com/in/dhipin">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-action">
                            <button class="btn-search-menu d-md-none" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#AsideOffcanvasSearch" aria-controls="AsideOffcanvasSearch">
                                <span class="search-icon">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <!--== End Header Wrapper ==-->
        <main class="main-content">
            <div class="product-detail-area section-space2">
                <div class="container">
                    <div class="row">
                        <div style="width: 40%;" class="col-lg-6">
                            <div class="product-detail-thumb me-lg-6">
                                <div class="swiper single-product-thumb-slider">
                                    <div class="swiper-wrapper">
                                        <a class="lightbox-image swiper-slide" data-fancybox="gallery"
                                            href="/images/products/{{product.images.[0]}}">
                                            <img src="/images/products/{{product.images.[0]}}" width="640" height="530"
                                                alt="Image">
                                        </a>
                                        <a class="lightbox-image swiper-slide" data-fancybox="gallery"
                                            href="/images/products/{{product.images.[1]}}">
                                            <img src="/images/products/{{product.images.[1]}}" width="640" height="530"
                                                alt="Image">
                                        </a>
                                        <a class="lightbox-image swiper-slide" data-fancybox="gallery"
                                            href="/images/products/{{product.images.[2]}}">
                                            <img src="/images/products/{{product.images.[2]}}" width="640" height="530"
                                                alt="Image">
                                        </a>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <div class="single-product-nav-wrp">
                                    <div class="swiper single-product-nav-slider">
                                        <div class="swiper-wrapper">
                                            <div class="nav-item swiper-slide">
                                                <img src="/images/products/{{product.images.[0]}}" alt="Image"
                                                    width="127" height="127">
                                            </div>
                                            <div class="nav-item swiper-slide">
                                                <img src="/images/products/{{product.images.[1]}}" alt="Image"
                                                    width="127" height="127">
                                            </div>
                                            <div class="nav-item swiper-slide">
                                                <img src="/images/products/{{product.images.[2]}}" alt="Image"
                                                    width="127" height="127">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width: 60%;" class="col-lg-6">
                            <div class="product-detail-content">
                                <h2 class="product-detail-title mt-n1 me-10">{{product.name}}</h2>
                                <p class="">Brand: <span style="color:#e73c17;">{{product.brand}}</span> </p>
                                <p class="product-detail-desc">{{product.details}}</p>
                                <div class="product-detail-price">₹{{product.selling}}<span
                                        class="price-old">₹{{product.actual}}</span>
                                </div>
                                <div class="mb-3">
                                    {{#if (eq product.stock 0)}}
                                        <button class="out-of-stock-btn">Out of stock</button>
                                    {{else}}
                                        {{#if login}}
                                            <button onclick="addToCart('{{product._id}}')" class="product-detail-cart-btn"
                                                type="button">Add to cart</button>
                                        {{else}}
                                            <button class="product-detail-cart-btn" type="button">
                                                <a href="/login">Add to cart</a>
                                            </button>
                                        {{/if}}
                                    {{/if}}
                                </div>
                                <div>
                                    {{#if login}}
                                    <button onclick="addToWishlist('{{product._id}}')" type="button"
                                        class="product-detail-wishlist-btn">
                                        <i class="icon icon-heart"></i> Add to wishlist
                                    </button>
                                    {{else}}
                                    <button type="button" class="product-detail-wishlist-btn">
                                        <a href="/login"><i class="icon icon-heart"></i> Add to wishlist</a>
                                    </button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

    </main>


    <!--== Start Footer Area Wrapper ==-->
    <!--Start Footer Area Wrapper ==-->
    <footer class="footer-area">
       <div class="container">
            <div class="footer-bottom">
                    <p class="copyright">Website owned by: <a target="_blank" href="https://www.linkedin.com/in/dhipin">Dhipin</a></p>
            </div>
        </div>
    </footer>
    <!--== End Footer Area Wrapper ==-->
    <!--== End Footer Area Wrapper ==-->

    <script src="/user_files/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="/user_files/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user_files/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="/user_files/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="/user_files/js/plugins/swiper-bundle.min.js"></script>
    <script src="/user_files/js/plugins/fancybox.min.js"></script>
    <script src="/user_files/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/user_files/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user_files/js/plugins/isotope.pkgd.min.js"></script>
    <script src="/user_files/js/plugins/range-slider.js"></script>

    <!-- Custom Main JS -->
    <script src="/user_files/js/main.js"></script>

</body>

</html>